<h1>Create new article</h1>
<form method = 'POST' action = '/articles'>
<label name='title'>title</lable>
<br>
<input id="title" type = 'text' name='title'></input>
<br>
<br>
<label name='content'>content</lable>
<br>
<textarea id="content" name='content'></textarea>
<br>
<br>
<input type='submit' />
<br>
</form>