<h1>Article : <%= @article.title%></h1>

<div>
<p><%= @article.content%></p>
</div>
<br>
<form method = 'post' action ='/articles/<%= @article.id%>'>
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete"></input>
</form>